# Variables de entorno deben comenzar con VITE_ y no hay que instalar ninguna dependencia. Ya vite viene configurado para leer variables de entorno con una sintaxis especial: import.meta.env.VITE_VARIABLE_NAME
VITE_BACKEND_URL=http://localhost:4000